@font-face {
  font-family: 'font-4-cody';
  src: url('../font/font-4-cody.eot?55274436');
  src: url('../font/font-4-cody.eot?55274436#iefix') format('embedded-opentype'), url('../font/font-4-cody.woff?55274436') format('woff'), url('../font/font-4-cody.ttf?55274436') format('truetype'), url('../font/font-4-cody.svg?55274436#font-4-cody') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'font-4-cody';
    src: url('../font/font-4-cody.svg?55274436#font-4-cody') format('svg');
  }
}
*/
/* line 22, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/font-4-cody */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "font-4-cody";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/font-4-cody */
.icon-paw:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/font-4-cody */
.icon-heart:before {
  content: '\e801'; }

/* '' */
/* line 55, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/font-4-cody */
.icon-food:before {
  content: '\e802'; }

/* '' */
/* line 56, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/font-4-cody */
.icon-sun:before {
  content: '\e803'; }

/* '' */
@-webkit-keyframes showThumbnail {
  /* line 3, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
  16.65%, 83.35% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(10px);
            transform: translateX(-50%) translateY(10px); }

  /* line 9, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(10px);
            transform: translateX(-50%) translateY(10px); } }
@keyframes showThumbnail {
  /* line 3, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
  16.65%, 83.35% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(10px);
            transform: translateX(-50%) translateY(10px); }

  /* line 9, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(10px);
            transform: translateX(-50%) translateY(10px); } }

/* line 15, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
body {
  background: #49c0c1;
  font-family: 'Helvetica', arial, sans-serif; }

/* line 20, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
small {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #fff;
  text-align: center;
  font-family: sans-serif; }

/* line 30, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
a {
  color: #fff; }

/* line 34, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
h2 {
  font-weight: 100;
  padding-top: 0.9em;
  margin-top: 0.125em;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #298182; }

/* line 43, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
p {
  font-weight: 100;
  text-align: justify;
  font-size: 11.2pt; }

/* line 49, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
.help-tag {
  font-size: 9pt;
  text-align: center;
  padding: 5px 0;
  margin: 0; }

/* line 56, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
i {
  color: #49c0c1;
  font-size: 15pt; }

/* line 61, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
.meet-cody {
  margin-top: 0;
  position: absolute;
  top: 10px;
  left: 330px;
  background-color: #fff; }

/* line 69, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
.cody-info {
  margin-top: 0;
  padding: 5px 15px 5px 15px;
  width: 300px; }

/* line 75, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
.border {
  border: 5px solid #fff;
  float: left; }

/* line 80, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
.pagination {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 0 0.25em 0;
  text-align: center; }
  /* line 87, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
  .pagination li {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 4px;
    border: solid 2px #49c0c1;
    border-radius: 100%;
    transition-duration: 0.25s;
    transition-property: background; }
    /* line 99, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
    .pagination li:hover {
      background: #49c0c1; }
      /* line 102, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
      .pagination li:hover span {
        /* Show the tooltip when hovered over */
        -webkit-animation-name: showThumbnail;
                animation-name: showThumbnail;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-duration: 3s;
                animation-duration: 3s; }
    /* line 110, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
    .pagination li span {
      /* Thumbnail */
      display: inline-block;
      pointer-events: none;
      position: absolute;
      top: 100%;
      margin-top: 16px;
      padding: 8px;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateX(-50%) translateY(-10px);
          -ms-transform: translateX(-50%) translateY(-10px);
              transform: translateX(-50%) translateY(-10px); }
      /* line 123, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
      .pagination li span:after {
        /* Thumbnail Tip */
        content: "";
        position: absolute;
        z-index: 1;
        top: -6px;
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent #fff transparent;
        margin-left: -4px; }

@-webkit-keyframes circle {
  /* line 143, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
  50% {
    -webkit-transform: scale(1.26923);
            transform: scale(1.26923); } }

@keyframes circle {
  /* line 143, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
  50% {
    -webkit-transform: scale(1.26923);
            transform: scale(1.26923); } }

@-webkit-keyframes initials {
  /* line 149, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
  50% {
    -webkit-transform: translateY(-8px) translateZ(0);
            transform: translateY(-8px) translateZ(0); } }

@keyframes initials {
  /* line 149, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
  50% {
    -webkit-transform: translateY(-8px) translateZ(0);
            transform: translateY(-8px) translateZ(0); } }

/* line 154, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
.ild-ident {
  position: absolute;
  right: 20px;
  bottom: 20px; }
  /* line 159, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
  .ild-ident svg {
    overflow: visible;
    -webkit-transform: translateZ(0);
            transform: translateZ(0); }
    /* line 163, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
    .ild-ident svg .circle-holder {
      -webkit-transform: translate(-7px, -7px);
          -ms-transform: translate(-7px, -7px);
              transform: translate(-7px, -7px); }
    /* line 167, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
    .ild-ident svg .circle {
      -webkit-transform: translate(7px, 7px);
          -ms-transform: translate(7px, 7px);
              transform: translate(7px, 7px);
      fill: #298182; }
    /* line 173, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
    .ild-ident svg.active .i {
      -webkit-animation: initials 0.4s ease-in-out;
              animation: initials 0.4s ease-in-out; }
    /* line 177, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
    .ild-ident svg.active .l {
      -webkit-animation: initials 0.4s 0.2s ease-in-out;
              animation: initials 0.4s 0.2s ease-in-out; }
    /* line 181, /Users/scribble-lies/Documents/Graphic Design VI/Web Development/Week 6/exercise-4/scss/components/main */
    .ild-ident svg.active .circle {
      -webkit-animation: circle 0.5s 0.1s ease-in-out;
              animation: circle 0.5s 0.1s ease-in-out; }
